body{
    margin: 0px;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla';
    width: 100%;
}

.main-content{
    margin: auto;
    font-size: 16px;
    margin-top: 20vh;
    width: 620px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.lower-content{
    display: flex;
    flex-direction: row;
    color: white;
}

.lower-left-content{
    width: 50%;
    background-color: hsl(179, 62%, 43%);
}
.lower-right-content{
    width: 50%;
    background-color: hsl(179, 62%, 43%, 75%);

}
.upper-content, .lower-left-content, .lower-right-content{
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
}
.headline{
    color: hsl(179, 62%, 43%);
}

#price{
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
}

#month{
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 0.9rem;
    color: hsla(180, 66%, 83%, 0.75);
}
ul{
    padding: 0px;
    font-size: 0.9rem;
}
ul>li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: hsl(180, 86%, 92%);
    line-height: 3vh;
}

button{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: hsl(71, 73%, 54%);
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: hsl(57, 100%, 88%);
    border-radius: 5px;  
    margin-top: 30px;
}
button:hover{
    background-color: hsl(130, 73%, 54%);
    cursor: pointer;
    transform: scale(1.02);
}


h4{
    color: hsl(71, 73%, 54%);
}
#review{
    color:hsl(218, 22%, 67%);
}

@media (max-width: 678px) {
    .main-content{
        margin-top: 0px;
        width: auto;
    }
    .lower-left-content,.lower-right-content{
        width: auto;
    }
    .lower-content{
        flex-direction: column;
    }
}
